@charset "utf-8";

/*---装飾----*/

#main{
    width: 100%;
    height: 100vh;
    font-size: 120px;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    text-align: center;

}


#srot{
    font-size: 120px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
}
 #btn1{
    width: 70px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 100px;
 }
 #btn2{
    width: 70px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 100px;
 }
 #btn3{
    width: 70px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 100px;
 }
 #btn4{
    width: 70px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 100px;
 }