@charset "utf-8";

/*---装飾----*/

#main{
    width: 100%;
    height: 200px;
    font-size: 120px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    justify-items: center;
    align-items: center;

}
#title{
   color: rgb(247, 201, 115);
   font-size: 100px;
}

#srot{
    font-size: 120px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
}
#set{
    border:rgb(255, 255, 255 solid 1px);
}

#all{
       background-color: rgb(0, 0, 0);
}

 #leftBtn{
    width: 100px;
    height: 100px;
    color: rgb(255, 0, 0);
    background-color: red;
    border-radius: 50%;
    box-shadow:  red;
 }
 #centerBtn{
        width: 100px;
    height: 100px;
    color: rgb(255, 0, 0);
    background-color: red;
    border-radius: 50%;
 }
 #rightBtn{
        width: 100px;
    height: 100px;
    color: rgb(255, 0, 0);
    background-color: red;
    border-radius: 50%;
 }
 #reBtn{
        width: 100px;
    height: 100px;
    color: rgb(255, 0, 0);
    background-color: red;
    border-radius: 50%;
 }
 #left-area{
     width: 250px;
     height: 250px;
 }
 #center-area{
    width: 250px;
    height: 250px;
}
#right-area{
    width: 250px;
    height: 250px;
}

