@charset "utf-8";

/*---装飾----*/

#main{
    width: 100%;
    height: 200px;
    font-size: 120px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    justify-items: center;
    align-items: center;

}
#title{
   color: rgb(247, 201, 115);
   font-size: 100px;
}

#srot{
    font-size: 120px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
}

/*ーーーーーースロット画面周りーーーーーーーーー*/
#set{
    border:rgb(255, 255, 255 solid 1px);
}

#left-area{
    width: 230px;
    height: 230px;
}
#center-area{
   width: 230px;
   height: 230px;
}
#right-area{
   width: 230px;
   height: 230px;
}

/*ーーーーースロットのボタンーーーーーーー*/
#leftBtn{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
 }
 #centerBtn{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
 }
 #rightBtn{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
 }

/*ーーーーーースタートボタン周りーーーーーーーー*/

#all{
    background-color: rgb(0, 0, 0);
    border-top: 7px solid rgb(247, 201, 115);
}
 #reBtn{
    width: 80px;
    height: 80px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 50%;
 }

